* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  width: 100%;
  background: rgba(237, 240, 245, 0.5);
  transition: all .3s; 
  overflow:hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ededef;
  padding: 0 20px;
  background: #fff; }

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center; }
  .logo-box img.logo {
    width: 60%;
    height: auto;
    margin-right: 10px; }

/* main {
  padding: 0 40px; 
} */

.on_off_btn {
  display: block;
  width: 112px;
  height: 112px;
  transform: scale(1.2);
  background-color: rgba(0, 170, 195, 0.1);
  border-radius: 50%;
  position: relative;
  margin: 0 auto 20px;
  cursor: pointer; }
  .on_off_btn * {
    transition: all .3s; }
  .on_off_btn .x-checkbox-input {
    display: none; }
  .on_off_btn .on_off_btn_inner_1 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 16px;
    top: 16px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1); }
  .on_off_btn .on_off_btn_inner_2 {
    width: 70px;
    height: 70px;
    background: transparent;
    border: 2px solid #d7e1eb;
    position: absolute;
    left: 21px;
    top: 21px;
    border-radius: 50%;
    box-sizing: border-box;
    opacity: 0.5; }
  .on_off_btn .on_off_btn_icon {
    display: block;
    background-size: 100% 100%;
    position: absolute;
    width: 32px;
    height: 34px;
    top: 38px;
    left: 40px; }
    .on_off_btn .on_off_btn_icon path {
      fill: #d7e1eb; }

.ip {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 19.5px;
  color: #004e77;
  line-height: 23px;
  margin-bottom: 10px; }
  .ip > span {
    color: #94c0d1; }

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  margin-bottom: 40px;
  height: 150px; }

.x-select-box {
  height: 35px;
  background: #fff;
  position: relative;
  cursor: pointer;
  flex-grow: 1;
}
  .x-select-box .x-select-view {
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 10px;
    user-select: none;
    border: solid 1px rgba(0, 82, 113, 0.15); }
    .x-select-box .x-select-view img.x-select-icon {
      width: 20px;
      height: auto;
      flex-shrink: 0; }
    .x-select-box .x-select-view .x-select-title {
      width: 100%;
      padding: 0 10px; }
    .x-select-box .x-select-view .x-select-badge {
      border-radius: 9px;
      background-color: #4CAF50;
      padding: 3px 5px;
      font-size: 9px;
      color: white;
      float: right;
      position: absolute;
      right: 0;
      margin-right: 30px;
    }
    .x-select-box .x-select-view .x-select-arrow {
      width: 20px;
      height: 100%;
      background: url(../img/arrow.svg) center/cover no-repeat;
      flex-shrink: 0; }
  .x-select-box .x-select-dropdown {
    display: none;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    border: solid 1px rgba(0, 82, 113, 0.15);
    width: 100%;
    max-height: 200px;
    overflow: auto;
    margin-bottom: 30px; }
    .x-select-box .x-select-dropdown .x-select-item {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 5px 10px; }
      .x-select-box .x-select-dropdown .x-select-item img.x-select-icon {
        width: 20px;
        height: auto; }
      .x-select-box .x-select-dropdown .x-select-item .x-select-title {
        padding: 0 10px; }
      .x-select-box .x-select-dropdown .x-select-item  .x-select-badge {
        border-radius: 9px;
        background-color: #4CAF50;
        padding: 3px 5px;
        font-size: 9px;
        color: white;
        float: right;
        position: absolute;
        right: 0;
        margin-right: 5px;
      }
      .x-select-box .x-select-dropdown .x-select-item:hover {
        background: #ebebeb;
        cursor: pointer;
        transition: all .3s; }

label.x-checkbox-label {
  cursor: pointer;
  margin-top: -10px; }
  label.x-checkbox-label .x-checkbox-title {
    text-align: center;
    font-size: 10px; }
  label.x-checkbox-label .x-checkbox-input {
    display: none; }
  label.x-checkbox-label .x-checkbox-box {
    width: 32px;
    height: 18px;
    border-radius: 18px;
    background: #cedade;
    position: relative; }
    label.x-checkbox-label .x-checkbox-box .x-checkbox-circle {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #9cb5be;
      position: absolute;
      top: 50%;
      left: 2px;
      transition: all .3s;
      margin-top: -7px; }
  label.x-checkbox-label .x-checkbox-input:checked ~ .x-checkbox-box {
    background: #05bed1; }
    label.x-checkbox-label .x-checkbox-input:checked ~ .x-checkbox-box .x-checkbox-circle {
      left: 16px;
      background: #fff; }

/* body.loading {
  background: #d9f5f8; 
} */
  body.loading .on_off_btn {
    border-radius: 50%;
    background-image: url(../img/loader_btn.gif);
    background-position: center;
    background-size: calc(100% + 4px); }
    body.loading .on_off_btn div, body.loading .on_off_btn svg {
      display: none; }

/* body.on {
  background-image: url(../img/back_t.png);
} */
body.on .on_off_btn_inner_1 {
  background-color: #05bed1; 
}
body.on .on_off_btn_inner_2 {
  background-color: rgba(0, 77, 116, 0.05); 
}
body.on .on_off_btn_icon path {
  fill: #d7e1eb; 
}

/*_____scrollbar________________________________________________________________________________________________________*/
::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 0;
  height: 0; }

::-webkit-scrollbar-track {
  background-color: #ecedee;
  opacity: .5; }

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #949494;
  opacity: .5; }

::-webkit-scrollbar-thumb:hover {
  background-color: #2f4050; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

/*____________________________________________________________________________________________________________________*/



/*____________________________________________________________________________________________________________________*/

.page-op{box-sizing:border-box;width:100%;height: 100%;/* margin-bottom:10px;padding: 20px;*/background:#fff;}
.option-title{font-size:18px;line-height:24px;margin-bottom:18px}
.optiton-title-sec{line-height:18px;box-sizing:border-box;margin:6px 36px 12px}
.list-content{display:flex;box-sizing:border-box;margin:0 36px;padding:0 24px;justify-content:space-between;flex-wrap:wrap}
.universal-btn{line-height:36px;box-sizing:border-box;padding:0 12px;transition:all .2s linear;text-align:center;color:#e6e6e6;border-radius:2px;background:#4d4d4d}
.universal-btn:hover{cursor:pointer;color:#fff;background:#666}


.grade{margin-top:18px;justify-content:space-around}
.grade-btn{min-width:190px;margin:0 10px;margin-top:10px}
.grade-btn>img{margin-right:3px;vertical-align:middle}
.grade-btn>span{vertical-align:middle}
.share{margin-top:30px}
.share>div{transition:ease .3s all}
.share>div:hover{cursor:pointer;-webkit-transform:scale(1.05);transform:scale(1.05);-webkit-filter:brightness(1.03);filter:brightness(1.03)}
.feedback{box-sizing:border-box;height:96px;margin:18px 36px;padding:12px;background:#f1f1f1}
.about-we{margin:0 36px;padding:6px 12px;transition:all .2s ease-in-out}
.about-we:hover{cursor:pointer;background:rgba(0,0,0,.05)}
.custom-filter{font-family:'PingFang SC','Microsoft Yahei',Helvetica,Arial,sans-serif;font-size:14px;font-weight:500;font-weight:500;position:absolute;top:0;left:0;box-sizing:border-box;width:100%;height:100%;padding:12px;color:#4a4a4a;border:none;background:#f1f1f1}
.filter-content{overflow:auto;max-height:120px}
.white-content{overflow:auto;height:90px}
.custom-feedback{font-size:14px;font-weight:500;box-sizing:border-box;width:100%;height:100%;color:#4d4d4d;border:none;outline:0;background:#f1f1f1}
.wechatshare{position:absolute;top:-105px;left:0;width:100px;height:100px;transition:all .2s linear;border:1px solid #aaa}
.wechatshare img{width:100%;height:100%}
.wechat{position:relative}
/*____________________________________________________________________________________________________________________*/

/*____________________________________________________________________________________________________________________*/

.hide_div{position: absolute; top: 60px; left: 0px; bottom: 0px;width: 100%; height: 100%; z-index: 10; display: none; opacity: 1; text-align: center;}
.hide_div .down_img {width: 80%; height: 100%; margin:0 auto;}
/*____________________________________________________________________________________________________________________*/

#page {
  height: 100%;
}

#screenUnavailable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#screenUnavailable .title {
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

#screenUnavailable .description {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  margin-top: 20px;
  color: #a0aac3;
}

#screenUnavailable .button {
  padding: 11.5px 5px;
  border-radius: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  min-width: 100px;
  align-items: center;
  background: #ffa400;
  border: 1.5px solid #ffa400;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px;
  cursor: pointer;
}

/*____________________________________________________________________________________________________________________*/
.PC {
  animation: glow 800ms ease-out infinite alternate; 
}

.MAC {
  animation: glow 800ms ease-out infinite alternate; 
}

@keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 1px 0 #393;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 1px 0 #6f6;
    }
}
/*____________________________________________________________________________________________________________________*/


/*____________________________________________________________________________________________________________________*/



/*____________________________________________________________________________________________________________________*/