/*手机弹跳效果*/
.move-touch{-webkit-overflow-scrolling : touch;}

/*图片 水平居中 垂直居中*/
.auto-center ul li .pict{display: table;width: 100%;text-align:center;}
.auto-center ul li .pict i{vertical-align: middle;display: table-cell;}

/*css3模糊效果*/
.vague{-webkit-filter: blur(2px); transition:0.3s;-webkit-transition:0.3s;}

/*旋转对象*/
.rogate{transition:.3s;-webkit-transition:.3s;}
.rogate:hover{transform:rotate(90deg);}

/*排序-上下三角形*/
.arrow{position: relative;line-height:1;margin-left: .1rem;}
.arrow:before{content:""; position:absolute; top:-.02rem; left:0; width:0px;height:0px;border-bottom: .08rem solid;border-right: .08rem solid transparent;border-top:.08rem solid transparent;border-left: .08rem solid transparent;}
.arrow:after{content:""; position:absolute; top:.18rem; left:0; width:0px;height:0px;border-top: .08rem solid;border-right: .08rem solid transparent;border-bottom:.08rem solid transparent;border-left:.08rem solid transparent;}
.arrow.one:before{display: none;}
.arrow.one:after{top:.14rem;}

/*0.5像素边框*/
.border-top:before{background: #dadada;content:"";position: absolute;height: 1px;transform-origin: 0 0;transform: scale(0.5,0.5);-webkit-transform: scale(0.5,0.5);-moz-transform: scale(0.5,0.5);width:200%;top:0;left:0;}
.border-bottom:after{background: #dadada;content:"";position: absolute;height: 1px;transform-origin: 0 0;transform: scale(0.5,0.5);-webkit-transform: scale(0.5,0.5);-moz-transform: scale(0.5,0.5);width:200%;bottom:-1px;left:0;}

/*滑动菜单*/
.flex-slide{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;overflow-y:auto;-webkit-overflow-scrolling : touch;}
.flex-slide>*{flex-shrink:0;}

/*两端对齐*/
.box-space-between{display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex;justify-content: space-between;}
.box-space-between>*{flex-shrink: 0;}

/*checkbox状态切换*/
.touch-state{position:relative;}
.touch-state label{position:relative;background:#fff;display:block;width:.9rem;height:.45rem;border:1px solid #ccc;border-radius:.3rem;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;}
.touch-state label:after{content:'';position:absolute;z-index:1;left:0;width:.41rem;height:.41rem;background:#fff;box-shadow:0 0 .1rem rgba(0,0,0,0.4);border-radius:50%;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.touch-state input{position:absolute;z-index:0;opacity:0;left:45%;top:20%;}
.touch-state input:checked + label{background:#47b92c;border-color:#47b92c;}
.touch-state input:checked + label:after{left:calc(100% - 0.41rem)}

/*轮播图*/
.swiper-wrapper{display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex;display:-webkit-box;position: relative;}
.swiper-slide{flex-shrink:0;position:relative;}


/*模糊*/
.mohu{filter: blur(1px);-webkit-filter: blur(1px);-moz-filter: blur(1px);-ms-filter: blur(1px);filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=1, MakeShadow=false);}

/*上下固定定位*/
.fixed-top{position: fixed;left: 0;width: 100%;top: 0;z-index: 2;background: #fff;}
.fixed-bottom {position: fixed; bottom: 0; left: 0; width: 100%;z-index: 2;background: #fff;}

/*flex布局*/
.column{display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; }
.column > * {column-count:1; flex-grow:1; flex-shrink:0; text-align: center; }

